
<%- include('../includes/header.html') %> 

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-center text-light" style="background-image: url(img/banner/26.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Error Page</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="#">Page</a></li>
                        <li class="active">404</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start 404 
    ============================================= -->
    <div class="error-page-area default-padding">
        <div class="container">
            <div class="error-items">
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <img src="assets/img/404.svg" alt="Thumb">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="error-box">
                            <h2>Sorry Page Was Not Found!</h2>
                            <p>
                                Household shameless incommode at no objection behaviour. Especially do at he possession insensible sympathize boisterous it. Songs he on an widen me event truth. Certain law age brother sending amongst why covered. 
                            </p>
                            <a class="btn btn-dark border btn-md" href="#">Back To Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End 404 -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <!-- Single item -->
                    <div class="col-md-4 col-sm-6 item equal-height">
                        <div class="f-item about">
                            <h4>About</h4>
                            <p>
                                Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address.
                            </p>
                            <ul>
                                <li>
                                    <p>Email <span><a href="mailto:info@example.com">info@example.com</a></span></p>
                                </li>
                                <li>
                                    <p>Office <span>144, Jalkheri Street, Seattle, WA 98104-2648.</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-md-2 col-sm-6 item equal-height">
                        <div class="f-item link">
                            <h4>Categories</h4>
                            <ul>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> All Courses</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Event</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Digital Marketing</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Design & Branding</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Storytelling</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Education</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Geography</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-md-2 col-sm-6 item equal-height">
                        <div class="f-item link">
                            <h4>Support</h4>
                            <ul>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Documentation</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Forums</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Language Packs</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Release Status</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> LearnPress</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ti-angle-right"></i> Feedback</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-md-4 col-sm-6 item equal-height">
                        <div class="f-item popular-courses">
                            <h4>Popular Courses</h4>
                            <ul>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="img/gallery/1.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">Subjects allied to Creative arts and design</a>
                                        <ul class="meta">
                                            <li>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </li>
                                            <li>(128) enrolled</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="img/gallery/3.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">Business and administrative subjects</a>
                                        <ul class="meta">
                                            <li>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li>(98) enrolled</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="img/gallery/4.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">Business and administrative subjects</a>
                                        <ul class="meta">
                                            <li>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </li>
                                            <li>(688) enrolled</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single item -->
                </div>
            </div>
        </div>
        <%- include('../includes/footer.html') %> 
